################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dice.Tests/bin/Debug
/Dice.Tests/obj/Debug
*.suo
/earthdawn-tabletop-player/bin/Debug
/earthdawn-tabletop-player/obj/Debug
/packages
